<div class="pokemon-dialog">
  <div class="pokemon-image">
    <img src="{{pokemon.picture}}" alt="picture">
  </div>
  <div class="pokemon-name">
    <h1>{{pokemon.name}}</h1>
  </div>
  <div class="pokemon-parameters">
    <table>
      <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let parameter of pokemon.parameters">
        <td>{{parameter.key}}</td>
        <td>{{parameter.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
