@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}
.md-overlay-container{
  position: fixed;
}
.md-input-underline{
  border-color: rgba(255,255,255, 0.38);
}
.md-input-placeholder{
  color: rgba(255,255,255, 0.38);
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}
